{% include 'homepage/partials/header.html' %}
<body>
  <div id="overlay">

    <div class="container" id="headingContainer">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <h1 id="heading" align="center"> Andrew Tomassone </h1>
          <div class="row">
            <div class="col">
              <button type="button" onclick="location.href = 'https://github.com/tomassap';" class="btn btn-default" id="subheading">
                <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                >_
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Software Development & Design
              </button>
              <div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <button type="button" onclick="location.href = '../Maths/';" class="btn btn-default" id="subheading">
                    Mathematics
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span>
                    &#8477;
                    <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" onclick= "location.href='https://500px.com/atomassone';" class="btn btn-default" id="subheading">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    Photography & Videography
                  </button>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <button type="button" onclick="location.href = '../Music/';" class="btn btn-default" id="subheading">
                    Music
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'homepage/partials/footer.html' %}
